*{
    padding:0;
    margin: 0;
    font-family: 'Raleway',sans-serif;
}
body{
   background-color: white;
}
.section-padding{
    padding: 100px 0;
}
.carousel-item{
 min-height: 300px;
    height: 100vh;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    color: white;
    
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 25px;
    line-height: 1.9;
    color: white;
}

.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}
.navbar-nav a, li{
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    margin-top: 6px;
}
.navbar-brand{
    color: white;
    font-size: 25px;
    
}
.navbar-light{
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: black;
}
.navbar-light .navbar-nav .navbar-link{
    color: black;
}
.w-100{
height: 100vh;    
}
/*google translate Dropdown */
#google_translate_element select{
  background-color: transparent;
  color: white;
}
    
.hero-section {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
}


.goog-logo-link,.goog-te-gadget span,div#goog-gt-{
    display:none!important;
  }
  .goog-te-gadget{
    color:transparent!important;
  }
  
  .goog-te-banner-frame.skiptranslate {
    display: none !important;
  } 
  body {
    top: 0px !important; 
  }
  .goog-te-banner-frame{
    display:none !important;
  }
    
  #goog-gt-tt, .goog-te-balloon-frame{
    display: none !important;
  }
  .goog-text-highlight {
    background: none !important;
    box-shadow: none !important;}
  #google_translate_element span{
    display:none !important;
  }
  .skiptranslate iframe{
    display: none !important;
  }
  .goog-te-combo option {
    color: rgb(128, 128, 128);
    border: none;
    padding: 0;
  }
.about-1{
    margin: 30px;
    padding: 5px;
}
.about-1 h1{
    text-align: center;
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.about-1 p{
    text-align: center;
    padding: 3px;
    color: white;
}
.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px,30px;
    box-shadow: 0 0 9px rgba(0,0,0,0.6);
}
.about-item{
    font-size: 2rem;
    margin: 0;
}
.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.about-item hr{
    width: 46px;
    height: 3px;
    background-color: black;
    margin: 0 auto;
    border: none;
}
.about-item p{
    margin-top: 20px;
}
p{
    text-align: justify;
}
footer{
    background-color: black;
    padding: 20px;
}
footer p{
color: white;
}
.navbar-dark.custom-bg {
    background-color: #343a40;
  }
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }


@media (max-width: 767px) {
    .carousel-caption {
      font-size: 14px;
    }
    .carousel-caption h5 {
      font-size: 18px;
      font-weight: bold;
    }
    h5{
        font-size: 14px;
        text-align: center;
    }
  }
  @media (max-width: 767px) {
    .carousel-caption h5 {
      font-size: 20px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .carousel-caption h5 {
      font-size: 24px;
    }
  }
  
  @media (min-width: 992px) {
    .carousel-caption h5 {
      font-size: 32px;
    }
  }