*{
    font-family:'Raleway',sans-serif;
}

header{
    background-color: transparent;
}
.navbar-nav a{
    font-size: 18px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    margin-top: 6px;
}

.navbar-brand{
    color: white;
    font-size: 25px;
    
}

.w-100{
    height: 100vh;    
}
#google_translate_element select{
    background-color: transparent;
    color: white;
    margin-top: 17px;
    margin-left: 17px;
    }
  
    /*google translate link | logo */
    .goog-logo-link{
    display:none !important;
    }
    .goog-te-gadget{
    color:transparent!important;
    }


    .goog-te-banner-frame.skiptranslate {
        display: none !important;
        } 
    body {
        top: 0px !important; 
        }
    
    .goog-te-banner-frame{
       display:none !important;
    }
  
    #goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
   .goog-text-highlight { background: none !important; box-shadow: none !important;}
   #google_translate_element span{
    display:none !important;
   }
   .skiptranslate iframe{
    display: none !important;
    visibility: hidden !important;
   }